<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  
 
  <div class="search-link">
    <a href="/inv/search" title="Advanced Vehicle Search">
      <i class="bi bi-search"></i> Advanced Search
    </a>
  </div>

  <div id="tools" class="tools-logout">
    <% if (locals.accountData) { %>
      <span>Welcome <a href="/account/"> <%= locals.accountData.account_firstname %> </a></span>
      <a title="Click to logout" href="/account/logout">Logout</a>
    <% } else { %>
      <a title="Click to log in" href="/account/login">My Account</a>
    <% } %>
  </div>
</header>
