<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-item"><a href="/" class="navbar-link">Home</a></li>
        <li class="navbar-item"><a href="/custom" class="navbar-link">Custom</a></li>
        <li class="navbar-item"><a href="/sedan" class="navbar-link">Sedan</a></li>
        <li class="navbar-item"><a href="/suv" class="navbar-link">SUV</a></li>
        <li class="navbar-item"><a href="/truck" class="navbar-link">Truck</a></li>
    </ul>
</nav>